# Data #
###################
*.pickle

# IDEA config files #
###################
*/.idea/workspace.xml
*/.idea/tasks.xml

# bytecode #
############
__pycache__/

# Notebooks files #
###################
.ipynb_checkpoints/

# specific files #
######################

